.btn {
  border-radius: 10px;
  background-color: rgb(97, 219, 251);
  color: rgb(28, 2, 60);
}

.search {
  outline: auto;
  outline-color: rgb(97, 219, 251);
}

.navbar {
  /* background-color: rgb(169, 169, 169) !important; */
  background-image: linear-gradient(
    to right,
    rgb(28, 2, 60),
    rgb(126, 51, 237),
    rgb(28, 2, 60)
  );
  color: #fff !important;
}

a {
  color: rgb(243, 221, 253) !important;
}
