@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  background-image: linear-gradient(black, black);
}

.btn {
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}

.search {
  outline: auto;
  outline-color: rgb(0, 0, 0);
}

.navbar {
  padding: 0.1rem 1rem;
  box-shadow: 0px 4px 16px rgb(36, 36, 36);
  font-weight: 600;
}

.darkbg {
  color: #fff !important;
  background-color: #343a40;
}

.lightbg {
  color: #343a40 !important;
  background-color: #fff;
}

.fa-sun {
  color: #fff !important;
}

.fa-sun,
.fa-moon {
  padding: 0.5rem;
  font-size: 1.5rem;
}

.tabRight {
  display: inline-flex;
}

a:hover {
  text-decoration: none;
  color: rgb(77, 77, 77) !important;
}

.navbar-dark .navbar-brand:hover,
.navbar-item {
  color: rgb(220, 220, 220) !important;
}

.navbar-light .navbar-item {
  color: rgb(16, 16, 16) !important;
}

.navbar-dark .navbar-item:hover,
.navbar-light .navbar-item:hover,
.navbar-light .navbar:active,
.navbar-dark .navbar:active {
  color: rgb(0, 0, 0) !important;
  background-color: #cfcdcd;
  opacity: 0.9;
  border-radius: 5px;
}

.card-img-top {
  margin-right: 1rem;
  border-radius: 15px 15px 0 0px !important;
}

.card .img-fluid {
  min-height: 180px;
  max-height: 180px;
  min-width: 10.9rem;
  max-width: 10.9rem;
}

.img-fluid {
  width: 490px;
}

.login_id {
  color: #fff;
}

.card {
  border-radius: 15px !important;
  height: 320px;
  backdrop-filter: blur(15px);
  box-shadow: 5px 6px 16px #000000;
  width: 11rem !important;
}

.card-footer {
  padding: 0;
  border-radius: 0px 0 15px 15px !important;
}

p {
  margin: 0;
  padding: 0;
}

.card-body {
  margin: auto;
  padding: 5px 0;
  font-family: "Inter";
  font-style: normal;
  text-align: center;
}



.fab:hover {
  font-size: 23px;
  opacity: 1;
}

h6 {
  text-shadow: 1px 1px 10px #878787;
}

.row .card:hover {
  transform: scale(1.1);
}

form {
  display: flex;
  justify-content: right;
}

.noRecord {
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 576px) {
  .container {
    width: 50%;
    margin: auto;
  }

  .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }

  form {
    justify-content: center;
  }

  .showTitle {
    display: none;
  }
} */

body {
  background-image: linear-gradient(black, black);
}

.icons {
  display: flex;
  font-size: 25px;
  justify-content: center;
}

.icons img {
  margin: 10px;
  width: 25px;
  height: 25px;
}

.card .img-fluid {
  min-height: 180px;
  max-height: 180px;
  min-width: 10.9rem;
  max-width: 10.9rem;
  border-radius: 8px 8px 0 0px !important;
}

img {
  display: inline;
}
